*, *:before, *:after {
  box-sizing: border-box;
}

input[type='text'] {
  width: 100%;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container.main {
  height: 100vh;
}

.container.vertical {
  flex-direction: column;
}

.controls { flex: 0 0 350px; }
.events { flex: 0 1 100%; }
.topics { flex: 0 1 100%; }
.locations { flex: 0 1 auto; }
.options { flex: 0 1 auto; }

.events .calendar { flex: 0 1 100%; }
.events .current-event { flex: 0 1 250px; }

.event-meta { flex: 0 1 30%; }
.event-abstract { flex: 0 1 70%; }

.event-details > div {
  margin: 10px;
}

.event-details .interested {
  margin-top: 1rem;
}

p { margin: 0 }

.scrollable {
  overflow: auto;
}

.filter {
  padding: 0.5rem;
}

.filter .color-label {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0 0.2rem;
  border-radius: 0.2rem;
}

.filter .title {
  margin-bottom: 0.5rem;
}

.filter .title b {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.filter .title button {
  float: right;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.event {
  color: black;
}

.event.selected {
  z-index: 2;
  box-shadow: 0px 0px 10px #0009;
}

.event.interested {
  border-right-width: 10px;
  border-right-style: solid;
}

.checkbox {
  margin: 2px 0;
  display: inline-block;
}

.checkbox.block {
  display: block;
}

.checkbox.block input {
  float: left;
  margin-top: 5px;
}

.checkbox.block label {
  margin-left: 20px;
  display: block;
}

.title-case {
  text-transform: capitalize;
}
