*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

button:focus { outline: none; }

input[type='text'] {
  width: 100%;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container.vertical { flex-direction: column; }
.scrollable { overflow: auto; }

.collapsible { padding: 0 0.5rem; }

.collapsible .header { 
  margin: 0.5rem 0;
}

.collapsible .header .title {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
}

.collapsible .header .indicator {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
}

.collapsible .header .indicator.collapsible {
  background: url('icons/expand_less.svg');
}

.collapsible .header .indicator.collapsible.collapsed {
  background: url('icons/expand_more.svg');
}

.collapsible .header .buttons {
  float: right;
  margin-top: 3px;
}

.collapsible .header .buttons button {
  margin-left: 6px;
}

.container.main { height: 100vh; }
.container.main > .controls { flex: 0 0 300px; }
.container.main > .events { flex: 0 1 100%; }

.container.controls > .topics { flex: 0 1 100%; }

.container.events > .calendar { flex: 0 1 100%; }
.container.events > .current-event { flex: 0 1 250px; }

.container.event-details > .meta { flex: 0 1 30%; }
.container.event-details > .abstract { flex: 0 1 70%; }

.event-details > div { margin: 10px; }
.event-details .interested { margin-top: 1rem; }

.color-label {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0 0.2rem;
  border-radius: 0.2rem;
}

.navigation {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  border: 1px solid #adadad;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
}

.navigation button {
  margin: 5px;
}

.event { color: black; }

.event.selected {
  z-index: 2;
  box-shadow: 0px 0px 10px #0009;
}

.event.interested {
  border-right-width: 10px;
  border-right-style: solid;
}

.checkbox { margin: 4px 0; }
.checkbox.inline { display: inline-block; }
.checkbox label { margin: 0 5px; }
.title-case { text-transform: capitalize; }
.option { margin: 5px 0; }

.checkbox.float input { margin-top: 2px; float: left; }
.checkbox.float label { display: block; margin-left: 20px; }
